// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem; //0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* general styling  taken from Toms work*/

.leftRed{
    border-left: 8px solid #ff0000 !important;
}

.leftBlue{
    border-left: 8px solid #00b3e3!important;
}

.leftGreen{
    border-left: 8px solid #0cbf65!important;
}

.leftOrange{
    border-left: 8px solid #ff9f16!important;
}

.leftGray{
    border-left: 8px solid #bbbbbb!important;
}
