// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem; //0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* general styling  taken from Toms work*/

.leftRed {
    border-left: 8px solid #ff0000 !important;
}

.leftBlue {
    border-left: 8px solid #00b3e3 !important;
}

.leftGreen {
    border-left: 8px solid #0cbf65 !important;
}

.leftOrange {
    border-left: 8px solid #ff9f16 !important;
}

.leftGray {
    border-left: 8px solid #bbbbbb !important;
}

.availability-Available {
    background: #98fb98 !important;
}

.availability-Limited {
    background: #fcffc2 !important;
}

.availability-Unavailable {
    background: #ffd0c8 !important;
}

.availability-Non-Stock {
    background: #00cfff !important;
}


.availability-available {
    background: #98fb98 !important;
}

.availability-limited {
    background: #fcffc2 !important;
}

.availability-unavailable {
    background: #ffd0c8 !important;
}

.availability-available-line {
    background: #24ff24 !important;
}

.availability-limited-line {
    background: #f7ff5a !important;
}

.availability-unavailable-line {
    background: #ff9797 !important;
}

.availability-pac {
    background: #f3f4f6 !important;
}

.border-correction {
    border-top: 8px solid #343a40!important;
    border-bottom: 8px solid #343a40!important;
    border-left: 2px solid #343a40!important;
    border-right: 2px solid #343a40!important;
}

